
<div class="row">
    <h2>Some tiles</h2>
    <div class="metro-dashboard">
        <div class="metro-tile blue" ng-click="alert('hola')">
            <div>
                <table>
                    <tr>
                        <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                        <td class="metro-tile-data">&nbsp;50</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mensajes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="metro-tile blue" ng-click="alert('hola')">
            <div>
                <table>
                    <tr>
                        <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                        <td class="metro-tile-data">&nbsp;50</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mensajes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="metro-tile blue" ng-click="alert('hola')">
            <div>
                <table>
                    <tr>
                        <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                        <td class="metro-tile-data">&nbsp;50</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mensajes</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h2>And another ones</h2>
    <div class="metro-dashboard">
        <div class="metro-tile blue" ng-click="alert('hola')">
            <div>
                <table>
                    <tr>
                        <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                        <td class="metro-tile-data">&nbsp;50</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mensajes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="metro-tile blue" ng-click="alert('hola')">
            <div>
                <table>
                    <tr>
                        <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                        <td class="metro-tile-data">&nbsp;50</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mensajes</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="metro-tile blue" ng-click="alert('hola')">
            <div>
                <table>
                    <tr>
                        <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                        <td class="metro-tile-data">&nbsp;50</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mensajes</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
