
<div class="container">
    <!--<div class="row">
        <div class="metro-title-large">Some custom tiles</div>
        <div class="metro-entrance">
            <div class="metro-tile blue" ng-click="alert('hola')">
                <div>
                    <table>
                        <tr>
                            <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                            <td class="metro-tile-data">&nbsp;50</td>
                        </tr>
                        <tr>
                            <td colspan="2">Mensajes</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="metro-tile blue" ng-click="alert('hola')">
                <div>
                    <table>
                        <tr>
                            <td><span class="fa fa-lock metro-tile-icon"></span></td>
                            <td class="metro-tile-data">&nbsp;Log out</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        </div>-->

    <!--<div class="row">
        <div class="metro-title-medium">And another custom ones</div>
        <div class="metro-entrance">
            <div class="metro-tile blue" ng-click="alert('hola')">
                <div>
                    <table>
                        <tr>
                            <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                            <td class="metro-tile-data">&nbsp;50</td>
                        </tr>
                        <tr>
                            <td colspan="2">Mensajes</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="metro-tile blue" ng-click="alert('hola')">
                <div>
                    <table>
                        <tr>
                            <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                            <td class="metro-tile-data">&nbsp;50</td>
                        </tr>
                        <tr>
                            <td colspan="2">Mensajes</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="metro-tile blue" ng-click="alert('hola')">
                <div>
                    <table>
                        <tr>
                            <td><span class="fa fa-envelope metro-tile-icon"></span></td>
                            <td class="metro-tile-data">&nbsp;50</td>
                        </tr>
                        <tr>
                            <td colspan="2">Mensajes</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>-->

    <div class="row">
        <div class="metro-title-large">Metro Js tiles</div>
        <div class="metro-entrance">
            <div class="live-tile blue" data-mode="flip" data-delay="3000">
                <div>
                    <a class="full text-center" href="#">
                        <i class="fa fa-amazon"></i>
                    </a>
                    <p class="tile-title">Messages title</p>
                </div>
                <div>
                    <p>This tile flips vertically</p>
                </div>
            </div>

            <div class="live-tile blue" data-mode="flip" data-delay="5000">
                <div>
                    <a class="full text-center" href="#">
                        <i class="fa fa-amazon"></i>
                    </a>
                    <p class="tile-title">Messages title</p>
                </div>
                <div>
                    <p>This tile flips vertically</p>
                </div>
            </div>

            <div class="live-tile blue" data-mode="flip" data-delay="4000">
                <div>
                    <a class="full text-center" href="#">
                        <i class="fa fa-amazon"></i>
                    </a>
                    <p class="tile-title">Messages title</p>
                </div>
                <div>
                    <p>This tile flips vertically</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".live-tile").liveTile();
</script>

