<div class="lx-title-bar">
    <div class="row">
        <div class="lx-logo-area col-sm-6">
            <img class="lx-icon" ng-src="{{iconFile}}" alt="Lex UI" title="{{appTitle}} - {{appSubtitle}}" />
            <div class="lx-title-area">
                <p class="lx-logo-title">{{appTitle}}</p>
                <p class="lx-logo-subtitle">{{appSubtitle}}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="lx-collapsed-menu pull-right">
                <button type="button" class="btn lx-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>

        <div class="lx-right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary">Button 1</button>
                <button class="btn btn-info">Button 2</button>
                <button class="btn btn-info">Button 3</button>
            </div>
        </div>
    </div>
</div>
<div ng-transclude></div>

<div ng-view class="lx-view" 
     ng-class="{'lx-view-full-width': !isMenuVertical || !isMenuVisible}">
</div>