body {
    background-color:  #f2f2f2;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

.lx-menu-button:hover, .lx-menu-button:focus {
    color: #c7c7c7;
}

.lx-view {
    background-color: #f2f2f2;
}
