<div class="lx-title-bar">
    <div class="row">
        <div class="col-sm-6">
            <div ng-click="menuButtonClicked()"
                 class="btn lx-menu-button">
                <i class="fa fa-bars"></i>
            </div>
            <img ng-click="goToHome()" class="lx-icon" ng-src="{{iconFile}}" alt="{{appTitle}}" title="{{appTitle}} - {{appSubtitle}}" />
            <div ng-click="goToHome()" class="lx-title-area lx-noselect">
                <p class="lx-logo-title">{{appTitle}}</p>
            </div>
        </div>

        <div class="col-sm-6 lx-menu-right-side">

        </div>
    </div>
</div>
<div ng-transclude></div>

<div ng-view class="lx-view"
     ng-class="{'lx-view-full-width': !isMenuVisible}">
</div>