<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Easy Trade Center</title>

    <!-- css -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/material.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

    <!-- js -->
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/material.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Easy Trade", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Clientes -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-users"></i>&nbsp;Clientes
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/clientes/#/nuevo-cliente">
                                    Nuevo cliente
                                </a>
                            </li>
                            <li>
                                <a href="/clientes/">
                                    Actualizar datos de cliente
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Inventario -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-th"></i>&nbsp;Inventario
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/inventario/#/nueva-mercaderia">
                                    Nueva mercadería
                                </a>
                            </li>
                            <li>
                                <a href="/inventario/">
                                    Actualizar datos de mercadería
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Empresas -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-building"></i>&nbsp;Empresas
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/empresas/">
                                    <i class="fa fa-building"></i>&nbsp;Ver todas las empresas
                                </a>
                            </li>
                            <li>
                                <a href="/empresas/#/nueva-empresa">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Nueva empresa
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Alexis Narváez</p>
        </footer>*@
    </div>
</body>
</html>
