@{
    ViewBag.Title = "Log";
}

<style>
    body {
        background-color: #1e1e1e;
    }
</style>

<div>
    <div data-bind="foreach:messages">
        <br />
        <div data-bind="text: $data"
             style="
                            font-family:Consolas;
                            color:white;
                            white-space:pre-wrap">
        </div>
    </div>
</div>