<div class="lx-view-content" ng-controller="atencionAlClienteController">
    <h1 class="lx-noselect-default-cursor">Atención al cliente</h1>
    <div class="lx-entrance">
        <form class="form-inline">
            <div class="form-group">
                <button class="btn btn-primary btn-sm" type="submit"
                        ng-click="onNuevoClienteBtnClick()">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo
                </button>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           class="form-control input-sm"
                           placeholder="Buscar cliente"
                           ng-model="criterioDeBusqueda"
                           ng-keyup="buscarPorTipeo($event)" />
                    <span class="input-group-btn" ng-click="buscarPorBoton()">
                        <button class="btn btn-info btn-sm" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr class="text-muted">
                    <th>Nombre o Razón Social</th>
                    <th>Ruc</th>
                    <th>Teléfono</th>
                    <th>Último contacto</th>
                </tr>
            </thead>
            <!-- TODO: order by fecha de ultimo contacto, from server -->
            <tr ng-repeat="cliente in clientes" class="lx-selectable-row" ng-click="onClienteSeleccionado(cliente)">
                <td>
                    <b>{{cliente.nombre}}</b>
                </td>
                <td>
                    <span>{{cliente.ruc}}</span>
                </td>
                <td>
                    <span>{{cliente.telefono1}}</span>
                </td>
                <td>
                    <span>{{cliente.ultimoContacto}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>