h1, h2, h3, h4 {
    color: white;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/* windows 8 : http://sarasoueidan.com/blog/windows8-animations/ */
.metro-entrance {
    opacity: 0;
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    -moz-animation: start 0.5s ease-out forwards;
    -o-animation: start 0.5s ease-out forwards;
    -webkit-animation: start 0.5s ease-out forwards;
    animation: start 0.5s ease-out forwards;
    z-index: 0;
}


@-moz-keyframes start {
    0% {
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        transform: translateX(15px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes start {
    0% {
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        transform: translateX(15px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes start {
    0% {
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        transform: translateX(15px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.metro-tile {
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    height: 8em;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    padding-top: 1.5em;
}

.metro-tile div {
    padding: 0 1.1em;
}

.metro-tile-icon {
    font-size: 45px;
}

.metro-tile-data {
    font-size: 35px;
}


.metro-tile.blue{
    background-color: #09a3d7;
    color: white;
}
