.lx-menu-area {
    /*position: relative;*/
    position: fixed;
    background-color: #333;
    color: #ccc;
    padding-left: 0;
    
}

.lx-menu-area-vertical {
    /*float: left;*/
    top: 40px;
    width: 200px;
    padding-top: 10px;
    min-height: 100vh;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;

    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.lx-menu-area-horizontal {
    width: 100%;
    max-height: 40px;
}

.lx-menu-area.ng-hide {
    margin-left: -200px;
}

.lx-menu-area ul {
    padding-left: 0;
}

.lx-menu-area .btn:hover {
    color: #ccc;
}

.lx-menu {
    list-style-type: none;
    vertical-align: top;
}

.lx-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.lx-menu li {
    /* 3 times the size of the font */
    /*line-height: 3em;*/
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.lx-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
}

.lx-selectable-item {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; /* Source: http://stackoverflow.com/questions/14350126/transition-color-fade-on-hover */
    background-color: #333;
}

.lx-selectable-item:hover {
    background-color: #555;
}

.lx-menu-icon {
    margin-right: 10px;
}

.lx-menu-active-indicator {
    float: right;
    color: #ddd;
    margin-right: 0;
    margin-top: -4px;
}

.lx-noselect { /* We block the ability to select text and perform copy-pasting */
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.lx-group-indicator-left {
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.lx-subitem-section {
    padding-left: 15px;
}

.lx-menu-orientation-toggle {
    margin: 12px;
    padding: 2px 8px;
    color: #bbb;
    background-color: #333;
}

.lx-menu-orientation-toggle-horizontal {
    position: absolute;
    top: -6px;
    right: 10px;
}

.lx-item-horizontal {
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
}

.lx-popup-menu {
    position: absolute;
    z-index: 1000;
    background-color: #333;
    width: 200px;
    padding-left: 0;
}

.lx-fade-in-animation {
    /*-moz-transition: linear all 0.3s;
    -o-transition: linear all 0.3s;
    -webkit-transition: linear all 0.3s;
    transition: linear all 0.3s;*/
}

.lx-fade-in-animation.ng-hide {
    /*opacity: 0;*/
}