
@{
    ViewBag.Title = "Empresas";
}

<script src="~/app/empresas/app.js"></script>

<!-- common -->
<script src="~/app/common/config.js"></script>

<!-- components -->
<script src="~/app/messageSending/empresasMessageSender.js"></script>

<!-- controllers -->
<script src="~/app/empresas/nuevaEmpresaController.js"></script>

<div ng-app="app">
    <div data-ui-view></div>
</div>

