<section ng-controller="empresasMainController as vm"
         class="main animated fadeInLeft">

    <div class="row" ng-hide="vm.busy">
        <div class="pull-right">
            <a href="" class="btn btn-default" ng-click="vm.alternarMostrarTodo()">
                <span class="glyphicon glyphicon-eye-open" ng-show="!vm.mostrarTodo"></span>
                <span class="glyphicon glyphicon-eye-close" ng-show="vm.mostrarTodo"></span>
                &nbsp;&nbsp;{{vm.mostrarTodoLabel}}
            </a>
        </div>
    </div>

    <div class="row" ng-show="vm.busy">
        <p class="text-muted busy animated fadeIn"><span class="text-primary fa fa-cog fa-spin fa-2x"></span>&nbsp;&nbsp;{{vm.busyMessage}}</p>
    </div>

    <div class="row" ng-hide="vm.busy">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr ng-repeat="empresa in vm.empresas | orderBy:'name' | filter:vm.buscar" ng-hide="!empresa.activada && !vm.mostrarTodo">
                    <td>{{empresa.idEmpresa}}</td>
                    <td>{{empresa.nombre}}</td>
                    <td>{{empresa.ruc}}</td>
                    <td>{{empresa.descripcion}}</td>
                    <td>{{empresa.fechaRegistro}}</td>
                    <td>{{empresa.fechaActualizacion}}</td>
                    <td>{{empresa.activada}}</td>
                    <td>
                        <a href="" ng-click="vm.desactivarEmpresa(empresa.idEmpresa, empresa.nombre)" class="text-danger"
                           ng-show="empresa.activada">
                            <span class="glyphicon glyphicon-remove"
                                  tooltip="Desactivar empresa" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-popup-delay="300"></span>
                        </a>
                        <a href="" ng-click="vm.reactivarEmpresa(empresa.idEmpresa, empresa.nombre)" class="text-primary"
                           ng-hide="empresa.activada">
                            <span class="glyphicon glyphicon-open"
                                  tooltip="Reactivar empresa" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-popup-delay="300"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
