
/* NARBAR
Answer from: Hoàng Vũ Tgtt 
Source:  http://stackoverflow.com/questions/18599778/decreasing-height-of-bootstrap-3-0-navbar
*/

.navbar { min-height:38px;   }
.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 38px;height: 38px; }
.navbar .navbar-nav > li > a {  padding-top: 0; padding-bottom: 0; line-height: 38px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0 }

/* debido al navbar fixedtop */
body {
    margin: 50px
}

p, .busy {
    font-size: 30px;
    text-align: center;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}